/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark {
  background-color: #18171c;
}

.bg-dark-gray {
  background-color: #201f24;
}

.input {
  background-color: #201f24;
  width: 100%;
  padding: 12px 12px;
  border-radius: 5px;
}

.bg_indicator {
  background-color: #1b2224;
}

.bg_purple {
  background-color: #8159f3;
}

td {
  padding: 5px 1px;
}

th {
  padding: 18px 1px;
  margin: 4px 0px;
}

.table_items_header {
  @apply md:w-36 w-32 text-right md:text-sm text-xs font-normal text-gray-400;
}

.table_items {
  @apply w-36 text-right md:text-sm text-xs flex-shrink-0;
}

.table_items_supply {
  @apply w-40 text-right md:text-sm text-xs flex-shrink-0;
}
